/* // Navigation bar */
.navbar {
  background: linear-gradient(#4e69a2, #3b5998 55%, #3b5998);
  border-top: 1px solid #29487d;
  border-bottom: 1px solid #133783;
  box-shadow: inset 0 1px 0 #6079ad;
  margin: 0;
  width: 100%;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0 0.75rem;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
}

.navbar li {
  margin: 0;
}

.navbar li a {
  display: block;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.1px;
  padding: 14px 16px;
  text-decoration: none;
  text-shadow: 0 -1px 0 #2a4887;
  border-left: 1px solid #4a67a1;
  border-right: 1px solid #2f477a;
}

.navbar li:first-child a {
  border-left: 1px solid #2f477a;
}

.navbar li a:hover {
  background-color: #4b67a1;
}

.navbar li a:active {
  background-color: #3a548d;
}
